body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 5%;
    background-color: #f1f1f1;
    color: gray;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer a {
    margin: 0 0.25rem;
    color: gray;
    text-decoration: none;
    font-weight: 600;
}
footer a:hover {
    text-decoration: underline;
}
#container {
    display: flex;
    width: 100vw;  
    height: 100vh;
}



.header-container {
    justify-content: space-between;
    padding: 10px;
}

.todo-header {
    gap: 10px;
}

.todo-header-icons {
    gap: 20px;
}

.header-container,
.todo-header,
.todo-header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.todo-container-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;

}

.todo-input-container {
    width: 95%;
    display: flex;
    flex-direction: column; /* stack children vertically */
    justify-content: center;
    position: relative;
    margin: 10px auto;
    padding: 5px 0; /* add some vertical padding */
}

#todo-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border: 0px;
    padding: 0 10px;
    outline: none;
    background-color: transparent;
}

.input-plus-add-icon-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.active-todo-input {
  height: 60px;
  border: 1px solid blue;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease-in-out;
  padding: 0 0 5px;
}

.active-todo-input-box {
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: 0;
}

.todo-input-gray {
  padding: 0 0 5px;
  height: 60px;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-input-icon-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    right: 10px;
}

.todo-input-modifier-icons-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}


.todo-input-modifier-icons-container {
    display: flex;
    flex-direction: row;
    gap: 12.5px;
    align-items: center;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.add-task-button {
    border-radius: 4px;
    background-color: blue;
    padding: 2.5px 10px;
}

.todo-date-icon-container {
    display: flex;
    width: 20px;
}

.todo-date-input-container {
    opacity: 0;
    position: relative;
    right: 20px;
}

.todo-priority-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    top: 115%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 125px;
}

.priority-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-high-priority-container,
.todo-medium-priority-container,
.todo-low-priority-container,
.todo-none-priority-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
}

.todo-folder-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    top: 115%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 175px;
}

.folder-menu-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    border-top: 1px solid black;
}

.search-folder-input {
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
}

.folder-menu-container,
.search-folder-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px;
    gap: 5px;
    box-sizing: border-box;
}

.folder-menu-icon-container,
.folder-menu-additional-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.folder-menu-additional-container {
    position: absolute;
    right: 10px;
}

.current-folder {
    color: rgb(71,114,250);
}


.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.task-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;;
    width: 95%;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 10px auto;
}

.task-group-header {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 7.5px;
    width: 100%;
}

.tasks {
    width: 100%;
}

.task-group .tasks {
  display: none;
}
.task-group.open .tasks {
  display: block;
}



.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 0 0 10px;
    border-radius: 4px 4px 0 0;
    justify-content:space-between;
    height: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.left-side-task, .right-side-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;   
}

.left-side-task {
    gap: 5px;
}
.right-side-task {
    gap: 5px;

}

.right-side-task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.folder-color-code-bar {
    background-color: rgb(0, 132, 255);
    width: 4px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: -10px;
}

.task-text {
    width: 100%;
}

.task-divider {
    width: 95%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.25);
    border: none;
}

.task-text, 
.group-header,
.task-folder,
.due-date,
.number-of-tasks {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.task-folder {
    color: rgba(96, 96, 96, 0.5);
}

.due-date {
    color: red;
}

.folder-color-code-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 132, 255);
}

input{
  -webkit-appearance: none; /* Remove default style */
  appearance: none;
  width: 17.5px;
  height: 15px;
  border: 1.25px solid gray; /* Your custom border color */
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  position: relative;
}


/* Add a custom checkmark for all checkboxes when checked */
input:checked::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.priority-high-checkbox {
    border: 1.25px solid red;
}

.priority-low-checkbox {
    border: 1.25px solid blue;
}

/* Optional: change background or border when checked */
.priority-high-checkbox:checked {
  background-color: rgba(255, 0, 0, 0.1);

}

.priority-low-checkbox:checked {
  background-color: rgba(0, 0, 255, 0.1);
  
}

.task-group.open > .task-group-header .arrow {
  transform: rotate(90deg);
}

.task-more-icon-container {
    position: relative;
    right: -10px;
}

.task-more-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
}

.task-more-icon-menu-container {
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.task-more-date-section,
.task-more-priority-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.menu-header {
    font-weight: bold;
    font-size: 12px;
    color: gray;
}

.task-more-date-icons,
.task-more-priority-icons {
    display: flex;
    justify-content: space-evenly;
}

.task-more-date-icon,
.task-more-priority-icon {
    border-radius: 4px;
    padding: 5px;

}

.task-more-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 5px;
}

.task-more-icon-section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    height: 20px;
    font-size: 14px;
    border-radius: 4px;
}
.task-more-folder-icon-container {
    position: relative;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.important-task-info-container{
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid gray;
    
}


.important-task-info-container, 
.important-task-info-container-right,
.important-task-info-container-left,
.task-due-date-container-stats,
.task-input-container-stats {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.important-task-info-container,
.task-title, 
.task-description-container, 
.task-edit-container {
    padding: 10px;
}

.task-checkbox-stats {
    width: 15px; 
}

.task-due-date-container-stats {
    height: 30px;
    width: 200px;
}

.todo-date-input-stats {
    height: 20px;
    
}

.task-due-date-stats {
    min-width: 200px;
}

.due-date-icon-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}


.task-due-date-container-stats,
.task-priority-container-stats,
.task-description-icon-container {
    border-radius: 4px;
    padding: 5px;
}

.todo-priority-menu-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    right: 50px;
    top: 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 125px;
}

.task-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.task-edit-container,
.task-edit-container-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}



.task-edit-container {
    height: 40px;
    padding: 5px;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.task-edit-container-right {
    gap: 10px;
    justify-content: flex-end;
}

.description {
    outline: none;
    cursor: text;
}

.description:empty::before {
    content: "Write something or type / for commands";
    color: #999;
    
}

.sub-task-container,
.sub-task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-task-container {
    border-top: 1px solid gray;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
}

.sub-task {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    gap: 5px;
    margin-right: 10px;
}

.todo-more-header-icon-container,
.todo-sort-header-icon-container {
    position: relative;
    display: inline-block;
}

.more-header-icon-menu-container,
.sort-header-icon-menu-container {
    position: absolute;
    top: 150%; /* directly below the image */
    left: -95px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    z-index: 100;
    transform: translateY(-10px); /* bottom: -10px effect */
}

.more-header-icon-menu-container {
    display: fixed;
}

.sort-header-icon-menu-container {
    width: 150px;
    display: fixed;
    z-index: 1000;
}
.task-view-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.menu-title {
    font-size: 12px;
    font-weight: 600;
    color: gray;
}


.task-list-view-option-icon,
.task-bar-view-option-icon {
    width: 20px;
    height: 20px;
}

.show-completed-tasks-icon {
    width: 15px;
    height: 15px;
}

.show-completed-tasks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 30px;
    border-radius: 4px;
    padding: 0 5px;
}

.show-completed-tasks-container:hover,
.group-by-container:hover,
.sort-by-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.show-completed-tasks-text,
.group-by-text,
.grouped-by-text,
.sorted-by-text,
.sort-by-text {
    font-size: 12px;
}


.vertical-line-menu {
    background-color: gray;
    height: 1px;
    margin: 5px 0;
    width: 100%;
}

.group-by-container,
.group-by-container-left,
.group-by-container-right,
.sort-by-container,
.sort-by-container-left,
.sort-by-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.group-by-container,
.sort-by-container {
    height: 30px;
    border-radius: 4px;
    padding: 0 5px;
    justify-content: space-between;
}

