    .feature-menu {
        width: 3%;
        background-color: aqua;
        display: block;
    }

    /* Add or update in your CSS file */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: --bs-primary-bg-subtle; /* or your preferred color */
        overflow-x: hidden;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    .container {
        min-width: 100vw;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }

    .strip {
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .flashcard-container {
        width: 97%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;

        color: white;
    }
