    .feature-menu {
        width: 3%;
        background-color: aqua;
        display: block;
    }

    body, html {
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color:#b0c4de;
    }
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        background-color: rgb(0, 166, 255);
    }

    .strip {
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .flashcard-container {
        width: 97%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        background-color: black;
        color: white;
    }
