.habits-header-container,
.habits-actions-container,
.habits-header-container-left {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.habits-header-container {
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    height: 36px;
}
.habits-header-container-left,
.habits-actions-container {
    gap: 10px;
}

.habits-header-container-left {
    align-items: center;
}
.habits-actions-container {
    justify-content: flex-end;
}

.habits-action {
    background-color: rgb(141, 141, 141);
    border: none;
    width: fit-content;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7.5px;
    padding: 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 15px;
}

.add-habits-container {
    background-color: rgb(4, 91, 221);
}

.add-habits-container:hover {
    cursor: pointer;
    background-color: rgb(21, 75, 141);
    transition: background-color 0.3s ease;
}

.habits-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;

}

.hidden {
  display: none;
}

.habits-group-header.open .arrow {
  transform: rotate(90deg);
}

.habit {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 5px;
    align-items: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid gray;
}

.habit-editor {
    width: fit-content;
    background-color: rgb(141, 141, 141);
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
    padding: 2px 4px;
    height: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.habit-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.left-side-habit {
    display: flex;
    flex-direction: column;
}

.habit-text {
    font-size: 14px;
    margin: 0;
}

.habit-times-number {
    font-size: 10px;
}

.habit-done-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.habits-stats-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    height: 36px;
}

.habits-stats-header-left, 
.habits-stats-header-right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.habits-stats-folder, 
.habits-stats-more-icon-container,
.habits-stats-edit-icon-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(141, 141, 141);
    border-radius: 4px;
    padding: 2px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.habits-stats-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bolder;
}

.habits-stats-folder {
    color: white;
}

.habits-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.habit-current-streaks-stats-container,
.habit-completed-times-stats-container,
.habit-failed-times-stats-container, 
.habit-skipped-times-stats-container
{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.streak-stats-container,
.completed-stats-container,
.failed-stats-container,
.skipped-stats-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.current-streak-title,
.current-completed-title,
.current-failed-title,
.current-skipped-title {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 12px;
    font-weight: 600;
}

.current-streak,
.current-completed,
.current-failed,
.current-skipped {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
