.feature-menu {
    width: 3%;
    background-color: aqua;
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.clock-container {
    width: 97%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color: black;
    color: white;
}

#current-time{
    font-size: 150px;
    height: 90%;
}

.button-container {
    height: 10%;
    padding: 15px 0 0;
    background-color: yellow;
    width: 100%;
}
